<h1>Reporte de ventas</h1>
<div class="row">
<div class="col s12 m4">
  <div class="input-field">
    <i class="material-icons prefix">perm_contact_calendar</i>
    <input id="checkin" name="checkin" materialize="pickadate" [materializeParams]="[{ format: 'dd/mm/yyyy' }]" type="text" [(ngModel)]="start"
    />
    <label for="checkin">Inicio</label>
  </div>
</div>
<div class="col s12 m4">
  <div class="input-field">
    <i class="material-icons prefix">perm_contact_calendar</i>
    <input id="checkout" name="checkout" materialize="pickadate" [materializeParams]="[{ format: 'dd/mm/yyyy'}]" type="text"
      [(ngModel)]="end" />
    <label for="checkout">Fin</label>
  </div>
</div>
<div class="col s12 m4">
    <a class="waves-effect waves-light btn" href="javascript:void" (click)="solicitarReporte()"><i class="material-icons left">cloud</i>Mostrar</a>
</div>
</div>

<table class="striped" *ngIf="(filteredOrders||[]).length > 0">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Total</th>
      <th>Creado por</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of filteredOrders">
      <td>{{order.date | amDateFormat: 'LL'}}</td>
      <td>{{order.total}}</td>
      <td>{{order.madeFor}}</td>
      <td><a [routerLink]="['/order',order.$key]">Detalle</a></td>
    </tr>
    <tr>
      <td colspan="3" style="text-align:right;">Total</td>
      <td>{{grandTotal}}</td>
    </tr>
  </tbody>
</table>
